{"ClientIP": "11.11.11.11", "CorrelationId": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "CreationTime": "2020-08-02T23:53:32", "CustomUniqueId": false, "EventSource": "SharePoint", "Id": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "ItemType": "File", "ListId": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "ListItemUniqueId": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "Operation": "FileAccessed", "OrganizationId": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "RecordType": 6, "Site": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "SiteUrl": "https://domain.sharepoint.com/sites/", "SourceFileExtension": "EXTENSION", "SourceFileName": "FILENAME", "UserAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36", "UserId": "FIRST.LAST@domain.com", "UserKey": "i:0h.f|membership|10037ffe8cebdfb4@live.com", "UserType": 0, "Version": 1, "WebId": "0a0a0a0a0-1a1a-2a2a-3a3a-4a4a4a4a4a4a", "Workload": "SharePoint"}
